<html>
	<head>
		<title>Admin DaP</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" type="text/css" th:href="@{css/dap.css}" href="../static/css/dap.css">
	</head>
	
	<body>
		<div>
			<ul>
				
			</ul>
			<table border="0" bgcolor="white" align="center" cellpading=0 cellspacing=0 width=70%>

				<!-- Entete Tableau-->
				<tr bgcolor=#8b807a border="1" bordercolor=#848484>
					<td  width="30%" id="enteteTableau">Id</td>
					<td   id="enteteTableau">Token</td>
					<td   id="enteteTableau">Expire dans</td>
					<td   id="enteteTableau">RefreshToken</td>
				</tr>

				<!-- Lignes Tableau-->
				
				<tr th:each="entry: ${informations}">
						<td   class="ligneTableau" th:text="${entry.key}"></span></td>
						<td   class="ligneTableau" th:text="${entry.value.accessToken}"></s)an></td>
						<td  class="ligneTableau"  th:text="${entry.value.expirationTimeMilliseconds} + '  jours'"></span></td>
						<td  class="ligneTableau" th:text="${entry.value.getRefreshToken()}"></span></td>
						
						<!--<td class="ligneTableau" th:text="${entry.value.}"></span></td>-->
				</tr>

			</table>
			

		</div>

	</body>  
</html>