font {
    font-family : calibri;
    font-size : 14px;
    color:gray;
}
#enteteTableau {
    text-align: center;
    font-family : calibri;
    font-size : 14px;
    color:white;
}

.ligneTableau {
    text-align: left;
    font-family : calibri;
    font-size : 1vw;
    border: 1px solid gray; 
}